<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragment/canbo/base">
<head>
</head>
<body>
<div class="col-md-12" layout:fragment="content">
    <!-- content -->
    <div class="col-md-12">
        <div class="card">
            <div
                    class="card-header text-white text-center"
                    style="background-color: #009cde"
            >
                Danh sách giấy khai sinh
            </div>
            <div class="card-body">
                <br />
                <!-- table 1 -->
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <div class="col-md-12 col-sm-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-center">Mã CT</th>
                                    <th scope="col" class="text-center">Họ và tên khai sinh</th>
                                    <th scope="col" class="text-center">Ngày sinh</th>
                                    <th scope="col" class="text-center">CMND</th>
                                    <th scope="col" class="text-center">Nới thường trú cuối cùng</th>
                                    <th scope="col" class="text-center">Ngày chết</th>
                                    <th scope="col" class="text-center">Tác vụ</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ct : ${listChungTu}">
                                    <th scope="row" class="text-center" th:text="${ct.maCT}"/>
                                    <td class="text-center" th:text="${ct.hoTenKhaiSinh}"/>
                                    <td class="text-center" th:text="${ct.ngaySinh}"/>
                                    <td class="text-center" th:text="${ct.cmnd}"/>
                                    <td class="text-center" th:text="${ct.noiThuongTru}"/>
                                    <td class="text-center" th:text="${ct.ngayChet}"/>
                                    <td class="text-center" >
                                        <a th:href="@{/canbo/chungtu/danhsachchungtu/chinhsua(maCT=${ct.maCT})}"  class="text-primary">
                                            <i class="fa-solid fa-pen"></i>
                                        </a>
                                        &nbsp;
                                        <a th:href="@{/canbo/chungtu/danhsachchungtu/xoa(maCT=${ct.maCT})}" class="text-danger">
                                            <i class="fa-solid fa-square-minus"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>