<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragment/admin/base">
<head>
</head>
<body>
<div class="right_col" role="main" layout:fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Quản lý tài khoản bị khoá<small></small></h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <form th:action="@{/admin/danhsachtaikhoanbikhoa/searchpaginated}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm..." th:name="username" th:value="${username}">
                            <input type="hidden" th:name="size" th:value="${nguoiDungPage.size}">
                            <input type="hidden" th:size="page" th:value="${currentPage}">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="submit">Tìm kiếm</button>
                            </span>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row" style="display: block;" th:if="${!nguoiDungPage.hasContent()}">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="alert alert-danger">
                            <strong>No Nguoi Dung Found</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="" th:if="${nguoiDungPage.hasContent()}">
            <div class="form-inline float-left">
                <label for="size">Điều chỉnh số trang: </label>
                <select name="size" id="size" aria-controls="datatable-buttons"
                        class="form-control input-sm" onchange="this.form.submit()">
                    <option th:selected="${nguoiDungPage.size == 5}" value="5">5</option>
                    <option th:selected="${nguoiDungPage.size == 10}" value="10">10</option>
                    <option th:selected="${nguoiDungPage.size == 15}" value="15">15</option>
                    <option th:selected="${nguoiDungPage.size == 20}" value="20">20</option>
                    <option th:selected="${nguoiDungPage.size == 30}" value="30">30</option>
                </select>
            </div>
        </form>
        <div class="row" style="display: block;" th:if="${nguoiDungPage.hasContent()}">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Quản lý tài khoản <small>Danh sách tái khoản bị hoá</small></h2>
                    </div>
                    <div class="x_content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Mã người dùng</th>
                                <th>Tên người dùng</th>
                                <th>Tài khoản</th>
                                <th>CMND</th>
                                <th>Vai trò</th>
                                <th>Khoá tài khoản</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="nguoidung : ${nguoiDungPage.content}">
                                <td th:text="${nguoidung.maNguoiDung}"></td>
                                <td th:text="${nguoidung.tenNguoiDung}"></td>
                                <td th:text="${nguoidung.username}"></td>
                                <td th:text="${nguoidung.cmnd}"></td>
                                <td th:text="${nguoidung.vaiTros[0].tenVaiTro}"></td>
                                <td th:if="${nguoidung.vaiTros[0].tenVaiTro.startsWith('Quản trị viên')}"></td>

                                <td th:if="${nguoidung.trangThai == 1 && !nguoidung.vaiTros[0].tenVaiTro.startsWith('Quản trị viên')}">
                                    <a th:href="@{'/admin/khoamotaikhoan?id='} + ${nguoidung.maNguoiDung}">
                                        <i class="fa fa-solid fa-key text-danger" aria-hidden="true"></i>&nbsp;&nbsp;
                                        Khoá tài khoản
                                    </a>
                                </td>

                                <td th:if="${nguoidung.vaiTros[0].tenVaiTro.startsWith('Quản trị viên')}"></td>

                                <td th:if="${nguoidung.trangThai == 0 && !nguoidung.vaiTros[0].tenVaiTro.startsWith('Quản trị viên')}">
                                    <a th:href="@{'/admin/khoamotaikhoan?id='} + ${nguoidung.maNguoiDung}">
                                        <i class="fa-solid fa-unlock-keyhole text-success" aria-hidden="true"></i>&nbsp;
                                        Mở khoá tài khoản
                                    </a>
                                </td>
                                <td th:if="${nguoidung.vaiTros[0].tenVaiTro.startsWith('Quản trị viên')}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="card-footer text-muted">
                            <div class="col-sm-12">


                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center"
                                        th:if="${nguoiDungPage.totalPages > 0}">
                                        <li th:class="${1 == nguoiDungPage.number + 1} ? 'page-item active' : 'page-item'">
                                            <a th:href="@{/admin/danhsachtaikhoanbikhoa/searchpaginated(username= ${username},
                                                                                  size=${nguoiDungPage.size},
                                                                                  page=${1})}" class="page-link">
                                                First
                                            </a>
                                        </li>

                                        <li class="page-item active"
                                            th:each="pageNumber : ${pageNumbers}"
                                            th:if="${nguoiDungPage.totalPages > 1}"
                                            th:class="${pageNumber == nguoiDungPage.number + 1} ? 'page-item active' : 'page-item'">
                                            <a th:href="@{/admin/danhsachtaikhoanbikhoa/searchpaginated(username= ${username},
                                                                                  size=${nguoiDungPage.size},
                                                                                  page=${pageNumber})}"
                                               class="page-link" th:text="${pageNumber}">
                                            </a>
                                        </li>

                                        <li th:class="${nguoiDungPage.totalPages == nguoiDungPage.number + 1} ? 'page-item active' : 'page-item'">
                                            <a th:href="@{/admin/danhsachtaikhoanbikhoa/searchpaginated(username= ${username},
                                                                                  size=${nguoiDungPage.size},
                                                                                  page=${nguoiDungPage.totalPages})}"
                                               class="page-link">
                                                Last
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>