<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragment/nguoidung/base">
<head>
</head>
<body>
<div class="card" layout:fragment="content">
    <div class="card-header text-white text-center" style="background-color:#009cde">
        Thông tin hồ sơ
    </div>
    <div class="card-body">
        <br/>
        <div class="card">
            <div class="card-header text-center">
                Vui lòng điền đủ thông tin hồ sơ
            </div>
            <div class="card-body" id="add-maudon">
                <form id="from">
                    <!-- ho va ten -->
                    <div class='row mb-3 form-group' >
                        <div class='col-md-3'>
                            <label>Họ và tên</label>
                        </div>

                        <div class='col-md-6'>
                            <input type='text' name='hoVaTen' value='' class='form-control' rules="required"/>
                            <span class="text-danger form-message"></span>
                        </div>
                    </div>

                    <!-- ho ten chu ho -->
                    <div class='row mb-3 form-group'>
                        <div class='col-md-3'>
                            <label>CMND/CCCD</label>
                        </div>

                        <div class='col-md-6'>
                            <input type='text' name='cmnd' value='' class='form-control' />
                        </div>
                    </div>

                    <!-- ho va ten -->
                    <div class='row mb-3 form-group'>
                        <div class='col-md-3'>
                            <label>Địa chỉ</label>
                        </div>

                        <div class='col-md-6'>
                            <input type='text'
                                   name='diaChi' value=''
                                   class='form-control'
                                   data-toggle="modal"
                                   data-target="#exampleModal"
                                   modal-form rules="required"/>
                            <span class="text-danger form-message"></span>
                        </div>
                    </div>
                    <!-- chon loai thu tuc -->
                    <div class='row mb-3 form-group'>
                        <div class='col-md-3'>
                            <label>Thủ tục hành chính</label>
                        </div>

                        <div class='col-md-6'>
                            <select id="loaiHoSo" name="loaiHoSo"  class='form-control' rules="required">
                                <option value="">Vui lòng chọn loài hồ sơ</option>
                                <option th:each="lhs : ${loaiHoSo}"
                                        th:value="${lhs.maLHS}"
                                        th:text="${lhs.tenLHS}"/>
                            </select>
                            <span class="text-danger form-message"></span>
                        </div>
                    </div>


                    <div class='row mb-3 form-group'>
                        <div class='col-md-3'>
                            <label>Đơn đăng ký</label>
                        </div>
                        <div class="col-md-6">
                            <textarea name="mauDon" id="mauDon"></textarea>
                            <span class="text-danger form-message"></span>
                        </div>
                    </div>

                    <dib class="row">
                        <div class="text-center">
                            <button class="btn"  style="background-color:#009cde; color:white">
                                Gửi đi
                            </button>
                        </div>
                    </dib>
                </form>

            </div>
        </div>
        <br/>
    </div>
</div>
</body>
<th:block layout:fragment="validator">
    <script th:src="@{/js/validator.js}"></script>
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/nguoidung/dangkyhoso.js}"></script>
</th:block>
</html>