<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragment/nguoidung/base">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="right_col" role="main" layout:fragment="content">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Bản kê khai nhân khẩu</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Bản kê khai nhân khẩu
                            <small>Đăng ký cấp sổ hộ khẩu</small>
                        </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!--    form -->
                        <form class="" novalidate id="form-nhan-khau">
                            <span class="section">Đăng ký cấp sổ hộ khẩu</span>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Họ và tên<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" rules="required" name="hoVaTen" placeholder="Nhập họ và tên"
                                           required="required"/>
                                    <span class="text-danger form-message"></span>
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Họ và tên khác(Nếu có)<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" name="tenGoiKhac" placeholder="Nhập họ và tên khác"
                                           required="required"/>
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Ngày tháng năm sinh<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" rules="required|minAge:14" type="date" name="ngaySinh" required='required'>
                                    <span class="text-danger form-message"></span>
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Giới tính<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" checked="" value="1" id="optionsRadios1"
                                                   name="gioiTinh"> Nam
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="0" id="optionsRadios2"
                                                   name="gioiTinh"> Nữ
                                        </label>
                                    </div>
                                </div>

                            </div>


                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Nơi sinh<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" rules="required" name="noiSinh" placeholder="Nhập nơi sinh"
                                           required="required"
                                           data-toggle="modal"
                                           data-target="#exampleModal"
                                           modal-form
                                    />
                                    <span class="text-danger form-message"></span>
                                </div>
                            </div>


                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Nguyên quán<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" rules="required" name="nguyenQuan" placeholder="Nhập nguyên quán"
                                           required="required"/>
                                    <span class="text-danger form-message"></span>
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Dân tộc<span
                                        class="required">*</span></label>
                                <div class="col-md-2 col-sm-2">
                                    <input class="form-control" rules="required" name="danToc" placeholder="Nhập tên dân tộc"
                                           required="required"/>
                                    <span class="text-danger form-message"></span>
                                </div>

                                <label class="col-form-label col-md-2 col-sm-2  label-align">Quốc tịch<span
                                        class="required">*</span></label>
                                <div class="col-md-2 col-sm-2">
                                    <input class="form-control" rules="required" name="quocTich" placeholder="Nhập quốc tịch"
                                           required="required"/>
                                    <span class="text-danger form-message"></span>
                                </div>
                            </div>


                            <div class="field item form-group">

                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Trình độ văn hoá<span
                                        class="required">*</span></label>
                                <div class="col-md-2 col-sm-2">
                                    <input class="form-control" name="trinhDoVanHoa" rules="required" placeholder="Nhập trình độ băn hoá"
                                           required="required"/>
                                    <span class="text-danger form-message"></span>
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">CMND/CCCD<span
                                        class="required">*</span></label>
                                <div class="col-md-2 col-sm-2">
                                    <input class="form-control" name="cmnd" rules="required" placeholder="Nhập CMND/CCCD"
                                           required="required"/>
                                    <span class="text-danger form-message"></span>
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Nơi thường trú<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" rules="required" name="noiThuongTru" placeholder="Nhập nơi thường trú"
                                           required="required"/>
                                    <span class="text-danger form-message"></span>
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Chỗ ở hiện nay<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" rules="required" name="choOHienNay" placeholder="Nhập chỗ ở hiện nay"
                                           required="required"/>
                                    <span class="text-danger form-message"></span>
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Nghề nghiệp<span
                                        class="required">*</span></label>
                                <div class="col-md-3 col-sm-3">
                                    <input class="form-control" rules="required" name="ngheNghiep" placeholder="Nhập nguyên quán"
                                           required="required"/>
                                    <span class="text-danger form-message"></span>
                                </div>
                            </div>

                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Nơi làm việc<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" rules="required" name="noiLamViec" placeholder="Nhập nguyên quán"
                                           required="required"/>
                                    <span class="text-danger form-message"></span>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-12 col-sm-12">
                                    <table class="table" id = "myTable">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Từ tháng, năm đến tháng, năm</th>
                                            <th class="text-center"> Chỗ ở
                                                <br/>
                                                <span>
                                                        (Ghi rõ số nhà, đường phố; thôn, xóm, làng, ấp, bản, buôn,xã/phường/thị trấn; quận/huyện;
                                                            tỉnh/thành phố. Nếu ở ngước ngoài thì ghi rõ tên nước
                                                        )
                                                    </span>
                                            </th>
                                            <th class="text-center"> Nghề nghiệp</th>
                                            <th class="text-center"> Tuỳ chọn</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody">
                                            <!--Đã sử lý js-->
                                        </tbody>

                                    </table>
                                    <!--    Error table-->
                                    <div class="text-center notification-mytable"></div>


                                    <div class="text-center">
                                        <div class="btn btn-link" onclick="addRow()">
                                            Thêm thông tin
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="text-center">
<!--                                <div class="btn btn-success" onclick="handleSubmit()">Gửi đi</div>-->
                                <button class="btn btn-success">Gửi đi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


</body>
</html>