<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragment/nguoidung/base">
<head>
</head>
<body>
<div layout:fragment="content">
    <h3 class="text-center text-success">Xin chào! </h3>
    <h3 class="text-center text-info" th:if="${session.currentUser != null}" th:text="${session.currentUser['username']}"></h3>
<!--    <a th:href="@{/nguoidung-panel/logout}">Log out</a>-->
</div>

</body>
</html>