<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<body>
<div class='col-md-3' th:fragment="left-menu">
    <div class="card">
        <div class="card-header text-white text-center" style="background-color:#009cde">
            Chuyển hộ khẩu
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link text-success" th:href="@{/nguoidung/dangkyhoso}"><i class="fa-solid fa-pen-to-square"></i> &nbsp;  Đăng ký hồ sơ</a></li>

                <li class="nav-item"><a class="nav-link text-info" th:href="@{/nguoidung/trangcanhan}" ><i class="fa-solid fa-address-card"></i>&nbsp; Trang cá nhân</a></li>

                <li class="nav-item"><a class="nav-link text-warning" th:href="@{/nguoidung-panel/logout}"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp; Đăng xuất</a></li>
            </ul>
        </div>
    </div>
    <br />
</div>

</body>
</html>