<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<body>
    <!-- Vertical navbar -->
    <div class="vertical-nav bg-white" id="sidebar" th:fragment="left-menu">
        <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center">
                <img
                        loading="lazy"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNRKKg70Q7bzM9SRtfVmMyk-1n_UcVdqrbdQ&usqp=CAU"
                        alt="..."
                        width="80"
                        height="80"
                        style="object-fit: cover;"
                        class="mr-3 rounded-circle shadow-sm"
                />
                <div class="media-body">
                    <h4 class="m-0">UBND</h4>
                    <p class="font-weight-normal text-muted mb-0">Hải Châu</p>
                </div>
            </div>
        </div>

        <p
                class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0"
        >
            Công An
        </p>

        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a
                        href="#homeSubmenu"
                        class="nav-link text-dark bg-light"
                        data-toggle="collapse">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    Thường trú
                </a>
                <ul class="collapse list-unstyled sidebarContent" id="homeSubmenu">
                    <li><a th:href="@{/congan/quanly}">Quản lý</a></li>
                    <li><a th:href="@{/congan/hoso}">Hồ sơ</a></li>
                    <li><a th:href="@{/congan/loc}">Lọc</a></li>
                    <li><a th:href="@{/congan/baocao}">Báo cáo</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#tamTru" class="nav-link text-dark" data-toggle="collapse">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    Tạm trú
                </a>
                <ul class="collapse list-unstyled sidebarContent" id="tamTru">
                    <li><a th:href="@{/congan/tamtru/quanlytramtru}">Quản lý</a></li>
                    <li><a th:href="@{/congan/tamtru/tamtruho}">Sổ tạm trú (Hộ)</a></li>
                    <li><a th:href="@{/congan/tamtru/tamtrucanhan}">Sổ tạm trú(Cá nhân)</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#bieumau" class="nav-link text-dark" data-toggle="collapse">
                    <i class="fa fa-paperclip mr-3 text-primary fa-fw"></i>
                    Biểu mẫu
                </a>
                <ul class="collapse list-unstyled sidebarContent" id="bieumau">
                    <li th:if="${session.loaiHoSos != null}" th:each="lhs : ${session.loaiHoSos}">
                        <a th:href="@{/congan/bieumau/ho-so(maLHS=${lhs.maLHS}) }" th:text="${lhs.tenLHS}"></a>
                    </li>
                    <li><a href="#">Khác</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#thongke" class="nav-link text-dark" data-toggle="collapse">
                    <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                    Thống Kê
                </a>
                <ul class="collapse list-unstyled sidebarContent" id="thongke">
                    <li><a href="#">Thống Kê 1</a></li>
                    <li><a href="#">Thống Kê 2</a></li>
                    <li><a href="#">Thống Kê 3</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#taikhoan" class="nav-link text-dark" data-toggle="collapse">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    Tài Khoản
                </a>
                <ul class="collapse list-unstyled sidebarContent" id="taikhoan">
<!--                    <li><a href="#">Thông tin tài khoản</a></li>-->
<!--                    <li><a href="#">Đổi mật khẩu</a></li>-->
                    <li><a th:href="@{/congan-panel/logout}">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- End vertical navbar -->
</body>
</html>