<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<body>
    <!-- Vertical navbar -->
    <div class="vertical-nav bg-white" id="sidebar" th:fragment="left-menu">
        <div class="py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center">
                <img
                        loading="lazy"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNRKKg70Q7bzM9SRtfVmMyk-1n_UcVdqrbdQ&usqp=CAU"
                        alt="..."
                        width="80"
                        height="80"
                        style="object-fit: cover;"
                        class="mr-3 rounded-circle shadow-sm"
                />
                <div class="media-body">
                    <h4 class="m-0">UBND</h4>
                    <p class="font-weight-normal text-muted mb-0">Hải Châu</p>
                </div>
            </div>
        </div>

        <p
                class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0"
        >
            Công An
        </p>

        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a
                        href="#homeSubmenu"
                        class="nav-link text-dark bg-light"
                        data-toggle="collapse">
                    <i class="fa-solid fa-address-card mr-3 text-primary fa-fw"></i>
                    Giấy khai sinh
                </a>
                <ul class="collapse list-unstyled sidebarContent" id="homeSubmenu">
                    <li><a th:href="@{/canbo/khaisinh/danhsachkhaisinh}">Danh sách khai sinh</a></li>
                    <li><a th:href="@{/canbo/khaisinh/capgiaykhaisinh}">Cấp giấy khai sinh</a></li>
                    <li><a th:href="@{/canbo/khaisinh/danhsachdangkykhaisinh}">Danh sách đăng kí giấy khai sinh</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#tamTru" class="nav-link text-dark" data-toggle="collapse">
                    <i class="fa-solid fa-book-skull mr-3 text-primary fa-fw"></i>
                    Giấy chứng tử
                </a>
                <ul class="collapse list-unstyled sidebarContent" id="tamTru">
                    <li><a th:href="@{/canbo/chungtu/danhsachchungtu}">Danh sách chứng tử</a></li>
                    <li><a th:href="@{/canbo/chungtu/capgiaychungtu}">Cấp giấy chứng tử</a></li>
                    <li><a th:href="@{/canbo/chungtu/danhsachdangkychungtu}">Danh sách đăng kí giấy chứng tử</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#taikhoan" class="nav-link text-dark" data-toggle="collapse">
                    <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                    Tài Khoản
                </a>
                <ul class="collapse list-unstyled sidebarContent" id="taikhoan">
<!--                    <li><a href="#">Thông tin tài khoản</a></li>-->
<!--                    <li><a href="#">Đổi mật khẩu</a></li>-->
                    <li><a th:href="@{/canbo-panel/logout}">Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- End vertical navbar -->
</body>
</html>