<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<body>
<nav class="navbar navbar-default navbar-trans navbar-expand-lg" th:fragment="top-nav">
    <div class="container">
        <div class="navbar-collapse justify-content-center" id="navbarDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="nav-link text-center" href="index.html">
                        CỔNG DỊCH VỤ CÔNG PHƯỜNG HẢI CHÂU, ĐÀ NẴNG <br/>
                        <span style="color: #009cde">Thân thiện, đơn giản , nhanh chóng</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>